<html lang="en">

<head>
    <title>Skew Web App</title>
    <!-- favicon -->
    <link rel="icon" href="/site/img/favicon.ico">

    <!-- javascript -->
    <script type="text/javascript" src="/site/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="/site/external/bootstrap/js/bootstrap.js"></script>

    <!-- css -->
    <link type="text/css" href="/site/css/app.css" rel="stylesheet"/>
    <link type="text/css" href="/site/external/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link type="text/css" href="/site/external/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- meta properties -->
    <meta charset="utf-8">
    <meta property="og:site_name" content="wolff.sh/go_web_app">
    <meta property="og:url" content="https://wolff.sh/go_web_app">
    <meta property="og:title" content="Running a Web App in Go">
    <meta property="og:description" content="Let's get Skewed">
    <meta property="og:image" content="/site/img/hideous.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1000">
    <meta property="og:image:height" content="667">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Running a Web App in Go">
    <meta name="description" content="Let's get Skewed">
</head>

<body>
<div class="row h-100 intro">
    <div class="col-sm-12 my-auto">
        <h1 class="d-flex justify-content-center">
            Please provide a URL to a .fasta or .fa.gz file:
        </h1>
        <br/>
        <form action="/minskew" method="get" class="justify-content-center">
            URL:&nbsp;<input type="text" name="url">
            <input type="submit" value="submit">
            <div class="container"></div>
            <div class="container">
                <input id="overwrite" name="overwrite" type="checkbox">
                <label for="overwrite"> Ignore cached plots? </label>
                <input id="full" name="full" type="checkbox">
                <label for="full"> Ignore line count limit? (use all data) </label>
            </div>
        </form>
    </div>
</div>
</body>

</html>
